
body{
    margin: 0;
    padding: 0;
}

.background{
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(51,51,51);
    background: radial-gradient(50% 50% at 50% 50%, #333333 0%, #151515 100%);
}
nav{
    position: fixed;
    width: 100vw;
    background: radial-gradient(36.13% 100% at 50% 0%, rgba(0, 0, 0, 0.01) 15.62%, #151515 100%);
    backdrop-filter: blur(25px);
    height: 96px;
}

.navbar{
    display: flex;
}

.logo{
    margin: 12px auto 0 32px;
    height: 72px;
    width: 196px;
    z-index: 2;
}

.logo img{
    height: 72px;
}

.logo a{
    -webkit-tap-highlight-color: transparent;
}
.burger-click{
    float: right;
    margin: 24px;
    width: 48px;
    height: 48px;
}
.burger-click button{
    padding: 0;
    position: absolute;
    background: transparent;
    border: none;
    z-index: 2;
    width: 48px;
    height: 48px;
}
.burger span{
    top: 12px;
    left: 8px;
    position: absolute;
    width: 32px;
    height: 5px;
    background: #FEFEFE;
    border-radius: 0px 2px;
    z-index: 1;
    transition: all 100ms;
}
.burger span:nth-child(1){
    position: absolute;
}
.burger span:nth-child(2){
    position: absolute;
    margin-top: 10px;
    border-radius: 2px 0px;
}
.burger span:nth-child(3){
    position: absolute;
    margin-top: 20px;
}
.burger .active span:nth-child(1){
    position: absolute;
    top: 22px;
    transform: rotate(135deg);
}
.burger .active span:nth-child(2){
    opacity: 0;
    visibility: hidden;
}
.burger .active span:nth-child(3){
    position: absolute;
    margin-top: 10px;
    transform: rotate(-135deg);
}