:root{
    --dark-grey: #151515;
    --light-grey: #333333;
    --white: #FEFEFE;
    --button-bg: #782B00;
    --button-fg: #FFCBAE;
    --dark-light-grey: #373737;
    --dark-red: #8B3A3A;
}
body{
    margin: 0;
    padding: 0;
}

.background{
    min-width: 100vw;
    background: rgb(51,51,51);
    background: radial-gradient(50% 50% at 50% 50%, var(--light-grey) 0%, var(--dark-grey) 100%);
    display: block;
}

.sticky{
    position: fixed;
    z-index: 2;
}

.navbar{
    display: flex;
    position: absolute;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, #0F0F0F 100%);
    backdrop-filter: blur(50px);
    height: 96px;
    margin: 0;
    z-index: 2;
}

.logo{
    margin: 12px auto 0 16px;
    height: 72px;
    width: 196px;
    z-index: 2;
}

.logo img{
    height: 72px;
}

.logo a{
    -webkit-tap-highlight-color: transparent;
}
.burger-click{
    float: right;
    margin: 24px;
    width: 48px;
    height: 48px;
}
.burger-click button{
    padding: 0;
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    z-index: 2;
    width: 48px;
    height: 48px;
    
    border-radius: 50%;
}
.burger:hover{
    
}
.burger span{
    top: 12px;
    left: 8px;
    position: absolute;
    width: 32px;
    height: 5px;
    background: var(--white);
    border-radius: 0px 2px;
    z-index: 1;
}
.burger span:nth-child(1){
    position: absolute;
    transition: all 350ms;
}
.burger span:nth-child(2){
    position: absolute;
    margin-top: 10px;
    border-radius: 2px 0px;
    transition: all 300ms;
}
.burger span:nth-child(3){
    position: absolute;
    margin-top: 20px;
    transition: all 250ms;
}
.burger .active span:nth-child(1){
    position: absolute;
    top: 22px;
    transform: rotate(135deg);
}
.burger .active span:nth-child(2){
    opacity: 0;
    visibility: hidden;
    transform: rotate(180deg);
}
.burger .active span:nth-child(3){
    position: absolute;
    margin-top: 10px;
    transform: rotate(225deg);
}
.banner{
    height: 200vh;
}
.banner img{
    margin: 96px auto 0 auto;
}
.main-photo{
    display: flex;
}
.caption p{
    font-family: 'Gabriela', serif;
    color: var(--white);
    font-size: 32px;
    text-align: center;
    margin: 0 14px;
}
.caption img{
    margin: 0;
    float: right;
    width: 92px;
    z-index: 1;
}
caption{
    position: relative;
    display: flex;
}
.leaf{
    position: absolute;
    width: 100vw;
    height: 92px;
    margin-top: -76px;
}
.description{
    font-family: 'Gabriela', serif;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    margin: 0 24px;
}

.hyper-button{
    margin-top: 32px;
    display: flex;
    width: 100vw;
}

.hyper-button button{
    background: transparent;
    background-color: var(--button-bg);
    margin: auto;
    border: none;
    outline: none;
    color: var(--button-fg);
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    padding: 8px 48px;
}

.menu{
    padding-top: 64px;
    display: grid;
}

.card{
    margin: 32px auto;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    border: 4px solid var(--dark-light-grey);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.5s cubic-bezier(.68,-0.6,.32,1.6);
}
.card:hover{
    transform: scale(1.5);
    background: radial-gradient(50% 50% at 50% 50%, #444444 0%, #333333 100%);
    border: 4px solid rgba(0, 0, 0, 0);
    filter: none;
}
.card-image{
    margin: 16px  auto 0 auto;
    display: flex;
    width: 100%;
}
.card-image img{
    width: 180px;
    margin: auto;
}
.card-description{
    margin: 8px 0 0 32px;
    color: var(--white);
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
}
.card-price{
    margin: 8px 0 0 32px;
    color: var(--dark-red);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}